<footer class="topnav">
    <div class= "footer-copyright">
        <div class= "container">
            All articles belong to <a href = "#" target="_blank">site i used</a>
            <a class= "grey-text text-lighten-4 right" href= "/articles-json">Article JSON</a> 
        </div>
    </div>
</footer>